<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @award.name %>
</p>

<p>
  <strong>Recipients:</strong>
  <ul>
    <% @award.players.each do |player| %>
      <li>
        <%= link_to player.name, player %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
